*{
    font-size: 18px;
    padding: 0;
    margin: 0;
    word-break: break-word;
}
body{
    padding-left: 15%;
    padding-right: 15%;
    font-family: monospace;
    padding-top: 1lh;
    background-color: hsl(210, 41%, 17%);
    color:hsl(59, 47%, 70%);
}

h1,h2,h3,h4,h5,h6{
   color: hsl(43, 70%, 65%);
}

p{
    padding-bottom: .5lh;
}

a{
    color: hsl(180, 100%, 50%);
}

.socials {
    background-color: hsl(0, 0%, 33%);
    border-radius: 1ch;
    text-align: center;
    color: black;
    margin-top: 1lh;
    margin-bottom: 1lh;
}
.socials > a{
    color:lch(66.97% 98.4 246.38);
    text-decoration-line: none;
}

h1::before{
    content: "# ";
    color: #ffb676;
}
h2::before{
    content: "## ";
    color: #ffb676;
}
h3::before{
    content: "### ";
    color: #ffb676;
}
h4::before{
    content: "#### ";
    color: #ffb676;
}
h5::before{
    content: "##### ";
    color: #ffb676;
}
h6::before{
    content: "###### ";
    color: #ffb676;
}
div.sourceCode > *, div.sourceCode, pre:has(code){
    background-color: rgb(67, 85, 102);
    border-radius: 1ch;
    color: lab(67% 0 0);
    background-color: rgb(67, 85, 102);
}

pre:has(code){
    padding-left: 1ch;
    padding-right: 1ch;
}

th, td{
    padding-left: 1ch;
    padding-right: 1ch;
}
th, td{
    border: 1px solid #ffb676;
}

th{
    font-weight: bold;
    color: white;
}

table{
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
}

img{
    padding-top: 1lh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
figcaption{
    text-align: center;
    font-style: italic;
    padding-bottom: 1lh;
}

blockquote{
    border-left: .5ch solid #B1345F;
    margin-left: 0;
    margin-right: 0;
    padding-left: .5ch;
    color: hsl(43, 70%, 75%);
}

blockquote > p{
    padding-bottom: 0;
}