<!DOCTYPE html>

<head lang="en-us">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-B2S71WH601"></script>
  <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-B2S71WH601');</script>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#1a2c3e">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <link rel="shortcut icon" href="./imgs/home.png" type="image/x-icon">
  <link rel="stylesheet" href="./css/index.css">
  <title>$title$</title>
</head>

<body>
  <script>
    window.onkeydown = (e) => {
      if (e.ctrlKey || e.altKey || e.shiftKey || e.metaKey) {
        return;
      }
      $if(back)$
      if (e.key == "ArrowLeft") {
        history.pushState("", document.location.href);
        window.location.href = '$back$.html';
      }
      $endif$

      $if(fwd)$
      if (e.key == "ArrowRight") {
        history.pushState("", document.location.href);
        window.location.href = '$fwd$.html';
      }
      $endif$

    }
  </script>
  <div class="center">
    $body$
  </div>
  <nav>
    $if(back)$
    <a href="$back$.html">&lt;= $back$</a>
    $endif$

    <a href="./index.html">home</a>
    
    $if(fwd)$
    <a href="$fwd$.html">$fwd$ =&gt;
    </a>
    $endif$

  </nav>
</body>

</html>