body{
  background-color: rgb(32, 64, 62);
}

html,
section,
nav,
header,
p,
img,
h1,
h2,
h3,
h4,
h5,
h6,
b,
i,
li,
ol,
ul,
a,
table,
tr,
td
{
  font-family: monospace;
  font-size: 1em;
  padding: 0;
  margin: 0;
  color: rgb(187, 205, 231)
}

h1,
h2,
h3,
h4,
h5,
h6{
  color: rgb(183,255,251);
  padding-top: 1lh;
}

a{
 color: rgb(204, 255, 255);
}
a:hover{
  color: hsl(360, 60%, 63%)
}
footer{
  border: 1px solid cyan;
  border-radius: 1ch;
  background-color: rgb(32, 106, 92);
  padding-top: 1lh;
  padding-bottom: 1lh;
  padding-left: 1ch;
  padding-right: 1ch;
  position:absolute;
  bottom: 0%;
  z-index: 999;
}
footer:hover{
  box-shadow: 1ch -1lh 9ch rgb(62, 94, 92);
}
h1:before{
  content: "# "
}
h2:before{
  content: "## "
}
h3:before{
  content: "### "
}
h4:before{
  content: "#### "
}
h5:before{
  content: "##### "
}
h6:before{
  content: "###### "
}

hr{
  border-color: #82aaff;
}

table{
  border-collapse: collapse;
  margin: 1lh 0 1lh 0;
}

th,
td{
  border: solid 1px black;
  padding: 1lh 1ch 1lh 1ch;
  border-radius: 1ch;
}
